a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
body {
  background-image: url("photo2.jfif");
  background-size: cover;
}
#deco {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}
/* html{
        margin: 20px;
        border: 10px solid lavender;
    } */
h1 {
  font-size: 5rem;
  font-family: "Tourney", cursive;
  text-align: center;
  margin-bottom: 8rem;
  margin-top: 30px;
}
div {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 2rem;
}
#deco {
  font-size: 20px;
}
#blog {
  border-radius: 50%;
  background-color: lemonchiffon;
  transition: all 3s;
}
#blog:hover {
  transform: scale(1.5, 1.5);
  transition: all 3s;
}
#tistory {
  border-radius: 50%;
  background-color: lavenderblush;
  transition: all 3s;
}
#tistory:hover {
  transform: scale(1.5, 1.5);
  transition: all 3s;
}
#minihome {
  border-radius: 50%;
  background-color: aliceblue;
  transition: all 3s;
}
#minihome:hover {
  transform: scale(1.5, 1.5);
  transition: all 3s;
}
#cat_pic {
  margin-top: 4rem;
}
#우정리 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
